<config>
    <modules>
        <Moogento_Clean>
            <version>0.9.8</version>
        </Moogento_Clean>
    </modules>
    <global>
        <blocks>
            <moogento_clean>
                <class>Moogento_Clean_Block</class>
            </moogento_clean>

            <adminhtml>
                <rewrite>
                    <catalog_category_tab_attributes>Moogento_Clean_Block_Adminhtml_Catalog_Category_Tab_Attributes</catalog_category_tab_attributes>
                    <catalog_product_edit_tab_attributes_create>Moogento_Clean_Block_Adminhtml_Catalog_Product_Edit_Tab_Attributes_Create</catalog_product_edit_tab_attributes_create>
                    <dashboard_sales>Moogento_Clean_Block_Adminhtml_Dashboard_Sales</dashboard_sales>
                    <dashboard_diagrams>Moogento_Clean_Block_Adminhtml_Dashboard_Diagrams</dashboard_diagrams>
                    <dashboard_grids>Moogento_Clean_Block_Adminhtml_Dashboard_Grids</dashboard_grids>
                    
                    <system_config_tabs>Moogento_Clean_Block_Adminhtml_System_Config_Tabs</system_config_tabs>

                    <widget_grid_column_filter_date>Moogento_Clean_Block_Adminhtml_Widget_Grid_Column_Filter_Date</widget_grid_column_filter_date>
                    <widget_grid_column_filter_datetime>Moogento_Clean_Block_Adminhtml_Widget_Grid_Column_Filter_Date</widget_grid_column_filter_datetime>
                    <widget_grid_column_filter_range>Moogento_Clean_Block_Adminhtml_Widget_Grid_Column_Filter_Range</widget_grid_column_filter_range>
                    <widget_grid_column_filter_price>Moogento_Clean_Block_Adminhtml_Widget_Grid_Column_Filter_Price</widget_grid_column_filter_price>
                    <!--<widget_button>Moogento_Clean_Block_Adminhtml_Widget_Button</widget_button>-->
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <moogento_clean>
                <class>Moogento_Clean_Helper</class>
            </moogento_clean>
        </helpers>
        <models>
            <moogento_clean>
                <class>Moogento_Clean_Model</class>
                <resourceModel>moogento_clean_resource</resourceModel>
            </moogento_clean>
            <moogento_clean_resource>
                <class>Moogento_Clean_Model_Resource</class>
                <entities>
                    <notification>
                        <table>clean_out_of_stock_notifications</table>
                    </notification>
                    <dashboard_report>
                        <table>clean_dashboard_reports</table>
                    </dashboard_report>
                    <aggregates>
                        <table>moogento_clean_aggregates</table>
                    </aggregates>
                    <aggregates_bestsellers>
                        <table>moogento_clean_aggregates_bestsellers</table>
                    </aggregates_bestsellers>
                    <aggregates_day>
                        <table>moogento_clean_aggregates_day</table>
                    </aggregates_day>
                    <aggregates_visitors>
                        <table>moogento_clean_aggregates_visitors</table>
                    </aggregates_visitors>
                </entities>
            </moogento_clean_resource>
        </models>
        <resources>
            <moogento_clean_setup>
                <setup>
                    <module>Moogento_Clean</module>
                    <class>Moogento_Clean_Model_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </moogento_clean_setup>
            <moogento_clean_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </moogento_clean_write>
            <moogento_clean_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </moogento_clean_read>
        </resources>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <moogento_clean>
                        <type>singleton</type>
                        <class>moogento_clean/observer</class>
                        <method>overrideTheme</method>
                    </moogento_clean>
                </observers>
            </adminhtml_controller_action_predispatch_start>
            <adminhtml_catalog_product_edit_element_types>
                <observers>
                    <moogento_clean>
                        <type>singleton</type>
                        <class>moogento_clean/observer</class>
                        <method>adminhtml_catalog_product_edit_element_types</method>
                    </moogento_clean>
                </observers>
            </adminhtml_catalog_product_edit_element_types>
            <adminhtml_cms_page_edit_tab_design_prepare_form>
                <observers>
                    <moogento_clean>
                        <type>singleton</type>
                        <class>moogento_clean/observer</class>
                        <method>adminhtml_cms_page_edit_tab_design_prepare_form</method>
                    </moogento_clean>
                </observers>
            </adminhtml_cms_page_edit_tab_design_prepare_form>
            <sales_order_save_before>
                <observers>
                    <moogento_clean_sales_order_save_before>
                        <model>moogento_clean/observer</model>
                        <method>sales_order_save_before</method>
                    </moogento_clean_sales_order_save_before>
                </observers>
            </sales_order_save_before>
            <sales_order_save_after>
                <observers>
                    <moogento_clean_order_save_after>
                        <model>moogento_clean/observer</model>
                        <method>orderAfterSave</method>
                    </moogento_clean_order_save_after>
                </observers>
            </sales_order_save_after>
            <sales_order_save_commit_after>
                <observers>
                    <moogento_clean_order_save_after>
                        <model>moogento_clean/observer</model>
                        <method>sales_order_save_commit_after</method>
                    </moogento_clean_order_save_after>
                </observers>
            </sales_order_save_commit_after>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <moogento_clean>
                        <model>moogento_clean/observer</model>
                        <method>controller_action_predispatch_adminhtml_system_config_save</method>
                    </moogento_clean>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
            <model_config_data_save_before>
                <observers>
                    <moogento_clean>
                        <class>moogento_clean/observer</class>
                        <method>model_config_data_save_before</method>
                    </moogento_clean>
                </observers>
            </model_config_data_save_before>
            <admin_system_config_changed_section_moogento_clean>
                <observers>
                    <moogento_clean>
                        <class>moogento_clean/observer</class>
                        <method>admin_system_config_changed_section_moogento_clean</method>
                    </moogento_clean>
                </observers>
            </admin_system_config_changed_section_moogento_clean>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <moogento_clean>
                    <file>moogento_clean.xml</file>
                </moogento_clean>
            </updates>
        </layout>
        <translate>
            <modules>
                <Moogento_Clean>
                    <files>
                        <default>Moogento_Clean.csv</default>
                    </files>
                </Moogento_Clean>
            </modules>
        </translate>
        <events>
            <adminhtml_block_html_before>
                <observers>
                    <moogento_clean>
                        <model>moogento_clean/observer</model>
                        <method>adminhtml_block_html_before</method>
                    </moogento_clean>
                </observers>
            </adminhtml_block_html_before>
            <admin_session_user_login_success>
                <observers>
                    <clean_notification>
                        <type>singleton</type>
                        <class>Moogento_Clean_Model_Feed_Updates</class>
                        <method>check</method>
                    </clean_notification>
                </observers>
            </admin_session_user_login_success>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Moogento_Clean before="Mage_Adminhtml">Moogento_Clean_Adminhtml</Moogento_Clean>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <moogento_clean_update_dashboard_aggregates>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_clean/cron::update</model>
                </run>
            </moogento_clean_update_dashboard_aggregates>
            <moogento_clean_update_dashboard_aggregates_day>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_clean/cron::updateDay</model>
                </run>
            </moogento_clean_update_dashboard_aggregates_day>
            <moogento_clean_update_dashboard_aggregates_bestsellers>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_clean/cron::updateBestsellers</model>
                </run>
            </moogento_clean_update_dashboard_aggregates_bestsellers>
            <moogento_clean_update_dashboard_aggregates_visitors>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_clean/cron::updateVisitors</model>
                </run>
            </moogento_clean_update_dashboard_aggregates_visitors>
            <moogento_clean_update_dashboard_quote>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_clean/cron::updateQuote</model>
                </run>
            </moogento_clean_update_dashboard_quote>
        </jobs>
    </crontab>
    <default>
        <moogento>
            <general>
                <url>https://www.moogento.com/</url>
            </general>
        </moogento>
        <moogento_clean>
            <general>
                <theme>extended</theme>
				<logo_alt>Clean.ed by Moogento</logo_alt>
                <grid_refresh>1</grid_refresh>
                <grid_refresh_interval>1</grid_refresh_interval>
                <showing_error_message>slide_all</showing_error_message>
            </general>
            <display>
                <show_global_search>1</show_global_search>
                <show_magento_ads>1</show_magento_ads>
                <show_copyright>1</show_copyright>
                <show_gravatar>1</show_gravatar>
                <bottom_statistics>1</bottom_statistics>
                <bottom_statistics_refunded>0</bottom_statistics_refunded>
                <bottom_statistics_canceled>0</bottom_statistics_canceled>
                <bottom_statistics_sold>1</bottom_statistics_sold>
                <export_csv>0</export_csv>
            </display>
            <css>
                <fonts>1</fonts>
                <header>1</header>
				<show_menu_icon_hints>1</show_menu_icon_hints>
                <main_part>1</main_part>
                <grid>1</grid>
                <grid_actions>1</grid_actions>
                <footer>1</footer>
                <buttons>1</buttons>
            </css>
            <colors>
                <enable>1</enable>
                <header_background>31302b</header_background>
                <menu_active_item_background>ffffff</menu_active_item_background>
                <footer_background>31302b</footer_background>
                <page_title>555555</page_title>
                <fieldset_header_background>34495E</fieldset_header_background>
                <fieldset_body_background>eeeeee</fieldset_body_background>
                <button_action>f89406</button_action>
                <button_action_text>ffffff</button_action_text>
                <button_back>e6e6e6</button_back>
                <button_back_text>000000</button_back_text>
                <button_remove>bd362f</button_remove>
                <button_remove_text>ffffff</button_remove_text>
                <left_column_tabs_header>d1dedf</left_column_tabs_header>
                <left_column_tabs>e7efef</left_column_tabs>
                <left_column_tabs_active>ffffff</left_column_tabs_active>
                <change_body_background>1</change_body_background>
                <body_background>0e74af</body_background>
            </colors>
            <colors_default>
                <enable>1</enable>
                <header_background>31302b</header_background>
                <menu_active_item_background>ffffff</menu_active_item_background>
                <footer_background>31302b</footer_background>
                <page_title>555555</page_title>
                <fieldset_header_background>34495E</fieldset_header_background>
                <fieldset_body_background>eeeeee</fieldset_body_background>
                <button_action>f89406</button_action>
                <button_action_text>ffffff</button_action_text>
                <button_back>e6e6e6</button_back>
                <button_back_text>000000</button_back_text>
                <button_remove>bd362f</button_remove>
                <button_remove_text>ffffff</button_remove_text>
                <left_column_tabs_header>d1dedf</left_column_tabs_header>
                <left_column_tabs>e7efef</left_column_tabs>
                <left_column_tabs_active>ffffff</left_column_tabs_active>
                <change_body_background>1</change_body_background>
                <body_background>0e74af</body_background>
            </colors_default>
            <notifications>
                <delivery_rate_orders>1</delivery_rate_orders>
                <item_out_of_stock>1</item_out_of_stock>
                <show_order_summary>1</show_order_summary>
                <checking_time>60</checking_time>
            </notifications>
            <dashboard>
                <chart_statuses>complete</chart_statuses>
				<show_prices>1</show_prices>
				<show_overview>1</show_overview>
				<show_default_charts>1</show_default_charts>
				<show_averages>1</show_averages>
				<show_average_order_amount>1</show_average_order_amount>
				<show_average_product_price>1</show_average_product_price>
				<show_average_products_per_order>1</show_average_products_per_order>
                <show_average_day>1</show_average_day>
                <show_low_stock_warnings>1</show_low_stock_warnings>
                <show_last_5_orders>1</show_last_5_orders>
                <show_last_5_search_terms>0</show_last_5_search_terms>
                <show_top_5_search_terms>0</show_top_5_search_terms>
				<show_most_viewed_products>0</show_most_viewed_products>
				<show_new_customers>0</show_new_customers>
				<show_bestsellers>1</show_bestsellers>
				<show_vip_customers>1</show_vip_customers>
				<show_image_dash>0</show_image_dash>
				<show_personality>1</show_personality>
				<show_pithy_quote>1</show_pithy_quote>
                <cron_period>1</cron_period>
                <show_annual_quarters>relative</show_annual_quarters>
                <fixed_annual_quarters_month>4</fixed_annual_quarters_month>
            </dashboard>
        </moogento_clean>
    </default>
</config>