<?xml version="1.0"?>
<config>
  <modules>
    <Balance_Category>
      <version>0.0.1</version>
    </Balance_Category>
  </modules>
    <global>
        <helpers>
            <category>
                <class>Balance_Category_Helper</class>
            </category>
        </helpers>
        <blocks>
            <balance_category>
                <class>Balance_Category_Block</class>
            </balance_category>
            <catalog>
                <rewrite>
                    <product_view>Balance_Category_Block_Product_View</product_view>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <eav>
                <rewrite>
                    <entity_attribute_source_boolean>Balance_Category_Model_Entity_Attribute_Source_Boolean</entity_attribute_source_boolean>
                </rewrite>
            </eav>
        </models>
      <resources>
            <category_setup>
	            <setup>
		            <module>Balance_Category</module>
		            <class>Mage_Eav_Model_Entity_Setup</class>
	            </setup>
	            <connection>
	                <use>default_setup</use>
	            </connection>
            </category_setup>
      </resources>
    </global>
</config>