<?xml version="1.0"?>
<config>
    <modules>
        <Moogento_EasyCoupon>
            <version>0.9.3</version>
        </Moogento_EasyCoupon>
    </modules>
	
    <frontend>
        <layout>
            <updates>
                <moogento_easycoupon>
                    <file>moogento/easycoupon.xml</file>
                </moogento_easycoupon>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <moogento_easycoupon_add>
                        <type>singleton</type>
                        <class>Moogento_EasyCoupon_Model_Observer</class>
                        <method>easyCouponAdd</method>
                    </moogento_easycoupon_add>
                </observers>
            </controller_action_predispatch>
            <sales_quote_collect_totals_before>
                <observers>
                    <moogento_easycoupon_update>
                        <type>singleton</type>
                        <class>Moogento_EasyCoupon_Model_Observer</class>
                        <method>easyCouponUpdate</method>
                    </moogento_easycoupon_update>
                </observers>
            </sales_quote_collect_totals_before>
            <catalog_controller_product_view>
                <observers>
                    <moogento_easycoupon_update>
                        <type>singleton</type>
                        <class>Moogento_EasyCoupon_Model_Observer</class>
                        <method>restoreMessages</method>
                    </moogento_easycoupon_update>
                </observers>
            </catalog_controller_product_view>
            <checkout_cart_save_after>
                <observers>
                    <moogento_easycoupon_update>
                        <type>singleton</type>
                        <class>Moogento_EasyCoupon_Model_Observer</class>
                        <method>restoreCartMessages</method>
                    </moogento_easycoupon_update>
                </observers>
            </checkout_cart_save_after>
        </events>
    </frontend>
	
    <global>

		<resources>
			<moogento_easycoupon_setup>
				<setup>
					<module>Moogento_EasyCoupon</module>
				</setup>
			</moogento_easycoupon_setup>
		</resources>
		
		<models>
            <moogento_easycoupon>
                <class>Moogento_EasyCoupon_Model</class>
                <resourceModel>moogento_easycoupon_resource</resourceModel>
            </moogento_easycoupon>
            <moogento_easycoupon_resource>
                <class>Moogento_EasyCoupon_Model_Resource</class>
                <entities>
                    <shortlink>
                        <table>moogento_easycoupon_shortlink</table>
                    </shortlink>
                </entities>
            </moogento_easycoupon_resource>
        </models>
		
		
		<events>


		</events>
		
        <blocks>
            <moogento_easycoupon>
                <class>Moogento_EasyCoupon_Block</class>
            </moogento_easycoupon>
        </blocks>
        <helpers>
            <moogento_easycoupon>
                <class>Moogento_EasyCoupon_Helper</class>
            </moogento_easycoupon>
        </helpers>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <moogento_easycoupon>
                    <file>moogento/easycoupon.xml</file>
                </moogento_easycoupon>
            </updates>
        </layout>
        <events>
            <adminhtml_promo_quote_edit_tab_main_prepare_form>
                <observers>
                    <moogento_easycoupon>
                        <class>Moogento_EasyCoupon_Model_Observer</class>
                        <method>adminhtml_promo_quote_edit_tab_main_prepare_form</method>
                    </moogento_easycoupon>
                </observers>
            </adminhtml_promo_quote_edit_tab_main_prepare_form>
            <salesrule_rule_save_before>
                <observers>
                    <moogento_easycoupon>
                        <class>Moogento_EasyCoupon_Model_Observer</class>
                        <method>salesrule_rule_save_before</method>
                    </moogento_easycoupon>
                </observers>
            </salesrule_rule_save_before>
            <adminhtml_block_html_before>
                <observers>
                    <moogento_easycoupon>
                        <class>Moogento_EasyCoupon_Model_Observer</class>
                        <method>adminhtml_block_html_before</method>
                    </moogento_easycoupon>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Moogento_EasyCoupon before="Mage_Adminhtml">Moogento_EasyCoupon_Adminhtml</Moogento_EasyCoupon>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <moogento_easycoupon>
            <settings>
                <show_coupon_bar>1</show_coupon_bar>
                <coupon_bar_text>Welcome! We've applied the "[coupon code]" coupon for you :)</coupon_bar_text>
                <number_characters>80</number_characters>
                <bar_background>529BBD</bar_background>
                <bar_text_color>FFFFFF</bar_text_color>
                <bar_font_size>18</bar_font_size>
                <bar_font_family>Raleway,Verdana,sans-serif</bar_font_family>
                <show_image>1</show_image>
                <include_google_font>1</include_google_font>
                <default_image>coupon_banner.png</default_image>
            </settings>
        </moogento_easycoupon>
    </default>
</config>