<?xml version="1.0"?>

<config>
	<modules>
		<Belvg_Local>
			<version>0.0.1</version>
		</Belvg_Local>
	</modules>
    <frontend>
        <routers>
            <local>
                <use>standard</use>
                <args>
                    <module>Belvg_Local</module>
                    <frontName>local</frontName>
                </args>
            </local>
        </routers>
        <events>
            <catalog_block_product_list_collection>
                <observers>
                    <belvg_catalog_block_product_list_collection>
                        <type>singleton</type>
                        <class>local/observer</class>
                        <method>applyShopAssistantPost</method>
                    </belvg_catalog_block_product_list_collection>
                </observers>
            </catalog_block_product_list_collection>
        </events>
    </frontend>
	<adminhtml>
		<!--<events>
			<catalog_category_save_after>
				<observers>
					<belvg_save_root_category_rewrite>
						<type>singleton</type>
						<class>local/observer_category</class>
						<method>saveUrlRewrite</method>
					</belvg_save_root_category_rewrite>
				</observers>
			</catalog_category_save_after>
            <catalog_product_save_after>
                <observers>
                    <belvg_save_product_category_attribute_data>
                        <type>singleton</type>
                        <class>local/observer_product</class>
                        <method>saveNewData</method>
                    </belvg_save_product_category_attribute_data>
                </observers>
            </catalog_product_save_after>
		</events>-->
	</adminhtml>   
	<global>
        <blocks>
            <!--<review>
                <rewrite>
                    <helper>Belvg_Local_Block_Review_Helper</helper>
                </rewrite>
            </review>-->
            <local>
                <class>Belvg_Local_Block</class>
            </local>
        </blocks>
        <helpers>
            <local>
                <class>Belvg_Local_Helper</class>
            </local>
        </helpers>
        <models>
            <local>
                <class>Belvg_Local_Model</class>
            </local>
            <!--<core>
                <rewrite>
                    <design_package>Belvg_Local_Model_Rewrite_Core_Design_Package</design_package>
                </rewrite>
            </core>-->
        </models>
	</global>
</config>
