<?xml version="1.0"?>
<config>
  <modules>
    <Balance_DisableInShopby>
      <version>0.1.0</version>
    </Balance_DisableInShopby>
  </modules>
  <global>
    <helpers>
      <disableinshopby>
        <class>Balance_DisableInShopby_Helper</class>
      </disableinshopby>
    </helpers>
	<models>
	  <disableinshopby>
		<class>Balance_DisableInShopby_Model</class>
		<resourceModel>disableinshopby_mysql4</resourceModel>
	  </disableinshopby>
	</models>
	<resources>
	  <categoryattribute1437470561_setup>
		<setup>
		  <module>Balance_DisableInShopby</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1437470561_setup>
	  <categoryattribute1437470561_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1437470561_write>
	  <categoryattribute1437470561_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1437470561_read>
	</resources>
  </global>
</config> 