<?xml version="1.0"?>
<config>
    <modules>
        <Magebright_Orderamount>
            <version>0.0.1</version>
        </Magebright_Orderamount>
    </modules>
    <global>
        <blocks>
            <orderamount>
                <class>Magebright_Orderamount_Block</class>
            </orderamount>
        </blocks>
        <helpers>
            <orderamount>
              <class>Magebright_Orderamount_Helper</class>
            </orderamount>
        </helpers>
        <models>
            <orderamount>
                <class>Magebright_Orderamount_Model</class>
            </orderamount>
            <sales>
              <rewrite>
                  <quote>Magebright_Orderamount_Model_Quote</quote>
                  <quote_address>Magebright_Orderamount_Model_Quote_Address</quote_address>
              </rewrite>
			</sales>
        </models>
    </global>
    <frontend>
      <routers>
          <checkout>
              <args>
                <modules>
                  <Magebright_Orderamount before="Mage_Checkout">Magebright_Orderamount</Magebright_Orderamount>
                </modules>
              </args>
          </checkout>
      </routers>
      <events>
          <sales_quote_save_before>
              <observers>
                 <Magebright_Orderamount_addafter>
                    <type>singleton</type>
                    <class>Magebright_Orderamount_Model_Observer</class>
                    <method>addAfter</method>
                 </Magebright_Orderamount_addafter>
              </observers>
          </sales_quote_save_before>
      </events>
    </frontend>
</config> 