<?xml version="1.0"?>
<config>
    <modules>
        <NWH_Cms>
            <version>0.1.0</version>
        </NWH_Cms>
    </modules>
    <global>
        <events>
            <controller_front_init_routers>
                <observers>
                    <cms_update>
                        <class>NWH_Cms_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </cms_update>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config> 