<?xml version="1.0"?>
<config>
    <modules>
        <NWH_Blockwhitelist>
            <version>1.0.1</version>
        </NWH_Blockwhitelist>
    </modules>
    <global>
        <resources>
            <nwh_blockwhitelist_setup>
                <setup>
                    <module>NWH_Blockwhitelist</module>
                </setup>
            </nwh_blockwhitelist_setup>
        </resources>
    </global>
</config>