<?xml version="1.0"?>
<config>
  <modules>
    <NWH_SeoCategory>
      <version>0.1.0</version>
    </NWH_SeoCategory>
  </modules>
  <global>
    <helpers>
      <seocategory>
        <class>NWH_SeoCategory_Helper</class>
      </seocategory>
    </helpers>
	<models>
	  <seocategory>
		<class>NWH_SeoCategory_Model</class>
		<resourceModel>seocategory_mysql4</resourceModel>
	  </seocategory>
			<catalog>
				<rewrite>
					<url>NWH_SeoCategory_Model_Catalog_Url</url>
				</rewrite>
			</catalog>
	</models>
  </global>
</config> 