<?xml version="1.0"?>
<config>
    <modules>
        <Moogento_PowerLogin>
            <version>1.0.0</version>
        </Moogento_PowerLogin>
    </modules>
    <global>
        <helpers>
            <moogento_powerlogin>
                <class>Moogento_PowerLogin_Helper</class>
            </moogento_powerlogin>
        </helpers>
        <models>
            <moogento_powerlogin>
                <class>Moogento_PowerLogin_Model</class>
            </moogento_powerlogin>
        </models>
        <events>
            <admin_session_user_login_success>
                <observers>
                    <moogento_powerlogin>
                        <type>singleton</type>
                        <class>Moogento_PowerLogin_Model_Observer</class>
                        <method>redirect_user_to_home_page</method>
                    </moogento_powerlogin>
                </observers>
            </admin_session_user_login_success>     
        </events>
        <blocks>
            <moogento_powerlogin>
                <class>Moogento_PowerLogin_Block</class>
            </moogento_powerlogin>
            <adminhtml>
                <rewrite>
                    <permissions_user_grid>Moogento_PowerLogin_Block_Adminhtml_Permissions_User_Grid</permissions_user_grid>
                    <permissions_user_edit_tab_main>Moogento_PowerLogin_Block_Adminhtml_Permissions_User_Edit_Tab_Main</permissions_user_edit_tab_main>
                    <permissions_tab_roleinfo>Moogento_PowerLogin_Block_Adminhtml_Permissions_Tab_Roleinfo</permissions_tab_roleinfo>
                </rewrite>
            </adminhtml>
        </blocks>
        <resources>
            <moogento_powerlogin_setup>
                <setup>
                    <module>Moogento_PowerLogin</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </moogento_powerlogin_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Moogento_PowerLogin before="Mage_Adminhtml">Moogento_PowerLogin_Adminhtml</Moogento_PowerLogin>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <moogento_powerlogin>
                        <class>moogento_powerlogin/observer</class>
                        <method>controller_action_layout_load_before</method>
                    </moogento_powerlogin>
                </observers>
            </controller_action_layout_load_before>
        </events>
        <layout>
            <updates>
                <moogento_powerlogin>
                    <file>moogento/powerlogin.xml</file>
                </moogento_powerlogin>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <moogento_powerlogin>
            <settings>
                <use_custom_login>1</use_custom_login>
            </settings>
            <logo>
                <show>1</show>
            </logo>
            <background>
                <type>default</type>
                <color>#0e74af</color>
                <repeat>no-repeat</repeat>
                <horizontal_align>center</horizontal_align>
                <vertical_align>bottom</vertical_align>
                <size>cover</size>
            </background>
			<logo>
				<show>1</show>
				<position>login_top</position>
			</logo>
        </moogento_powerlogin>
    </default>
</config> 