<?xml version="1.0"?>
<config>
  <modules>
    <NWH_SaveInsurance>
      <version>0.1.0</version>
    </NWH_SaveInsurance>
  </modules>
  <global>
    <blocks>
      <saveinsurance>
        <class>NWH_SaveInsurance_Block</class>
      </saveinsurance>
      <adminhtml>
        <rewrite>
          <sales_order_totals>NWH_SaveInsurance_Block_Adminhtml_Sales_Order_Totals</sales_order_totals>
          <sales_order_invoice_totals>NWH_SaveInsurance_Block_Adminhtml_Sales_Order_Invoice_Totals</sales_order_invoice_totals>
        </rewrite>
      </adminhtml>
    </blocks>
    <helpers>
      <saveinsurance>
        <class>NWH_SaveInsurance_Helper</class>
      </saveinsurance>
    </helpers>
    <models>
        <saveinsurance>
            <class>NWH_SaveInsurance_Model</class>
        </saveinsurance>
    </models>
    <resources>
        <saveinsurance_setup>
            <setup>
                <module>NWH_SaveInsurance</module>
                <class>Mage_Sales_Model_Mysql4_Setup</class>
            </setup>
            <connection>
                <use>core_setup</use>
            </connection>
        </saveinsurance_setup>
        <saveinsurance_write>
            <connection>
                <use>core_write</use>
            </connection>
        </saveinsurance_write>
        <saveinsurance_read>
            <connection>
                <use>core_read</use>
            </connection>
        </saveinsurance_read>
      </resources>
       <events>
            <sales_order_place_after>
                <observers>
                    <nwh_saveinsurance>
                        <type>singleton</type>
                        <class>NWH_SaveInsurance_Model_Observer</class>
                        <method>updateInsurance</method>
                    </nwh_saveinsurance>
                </observers>
            </sales_order_place_after>
        </events>
  </global>
</config> 