<?xml version="1.0"?>
<config>
   
    <modules>
        <nwh_retailexpress>
            <version>0.0.2</version>
        </nwh_retailexpress>
    </modules>
    <frontend>
        <routers>
            <stocklevels>
                <use>standard</use>
                <args>
                    <module>NWH_RetailExpress</module>
                    <frontName>stocklevels</frontName>
                </args>
            </stocklevels>
            <customer>
                <args>
                    <modules>
                        <nwh_retailexpress before="Mage_Customer">NWH_RetailExpress</nwh_retailexpress>
                    </modules>
                </args>
            </customer>
        </routers> 
        <events>
            <catalog_product_is_salable_before>
                <observers>
                    <nwh_retailexpress_model_product>
                        <type>singleton</type>
                        <class>NWH_RetailExpress_Model_Observer</class>
                        <method>finalPrice</method>
                    </nwh_retailexpress_model_product>
                </observers>
            </catalog_product_is_salable_before>
            <sales_order_save_before>
                <observers>  
                    <nwh_retailexpress_model_distributeorder>
                        <type>singleton</type>  
                        <class>NWH_RetailExpress_Model_Observer</class>  
                        <method>distributeOrder</method>            
                    </nwh_retailexpress_model_distributeorder>
                </observers>
            </sales_order_save_before>
            
            <checkout_cart_save_before>
                <observers>  
                    <nwh_retailexpress_model_addshipping>
                        <type>singleton</type>  
                        <class>NWH_RetailExpress_Model_Observer</class>  
                        <method>addShipping</method>            
                    </nwh_retailexpress_model_addshipping>
                </observers>
            </checkout_cart_save_before>
            
            
            <controller_action_predispatch_catalog_product_view>
                <observers>
                    <retail_product_view>
                        <type>singleton</type>
                        <class>NWH_RetailExpress_Model_Observer</class>
                        <method>catalogProductView</method>
                    </retail_product_view>
                </observers>
            </controller_action_predispatch_catalog_product_view>
            <controller_action_predispatch_checkout_cart_index>
                <observers>
                    <retail_product_view>
                        <type>singleton</type>
                        <class>NWH_RetailExpress_Model_Observer</class>
                        <method>checkoutCartIndex</method>
                    </retail_product_view>
                </observers>
            </controller_action_predispatch_checkout_cart_index>
            <controller_action_predispatch_aitcheckout_checkout_index>
                <observers>
                    <retail_checkout_view>
                        <type>singleton</type>
                        <class>NWH_RetailExpress_Model_Observer</class>
                        <method>checkoutCartIndex</method>
                    </retail_checkout_view>
                </observers>
            </controller_action_predispatch_aitcheckout_checkout_index>
            <controller_front_init_before>
                <observers>
                    <retail_front_before>
                        <type>singleton</type>
                        <class>NWH_RetailExpress_Model_Autoloader</class>
                        <method>controllerFrontInitBefore</method>
                    </retail_front_before>
                </observers>
            </controller_front_init_before>
        </events> 
    </frontend>
    
    <global>
        <helpers>
            <nwh_retailexpress>
                <class>NWH_RetailExpress_Helper</class>
            </nwh_retailexpress>
        </helpers>
        <resources>
            <nwh_retailexpress_setup>
                <setup>
                    <module>NWH_RetailExpress</module>
                </setup>
            </nwh_retailexpress_setup>
        </resources>
        <blocks>
            <nwh_retailexpress>
                <class>NWH_RetailExpress_Block</class>
            </nwh_retailexpress>
            <adminhtml>
                <rewrite>
                    <system_store_edit_form>NWH_RetailExpress_Block_Adminhtml_System_Store_Edit_Form</system_store_edit_form>
                    <sales_order_grid>NWH_RetailExpress_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <nwh_retailexpress>
                <class>NWH_RetailExpress_Model</class>
                <resourceModel>nwh_retailexpress_resource</resourceModel>
            </nwh_retailexpress>
            <nwh_retailexpress_resource>
                <class>NWH_RetailExpress_Model_Resource</class>
                <entities>
                    <stocklevels>
                        <table>nwh_stock_levels</table>
                    </stocklevels>
                </entities>
            </nwh_retailexpress_resource>
        
            <catalog>
                <rewrite>
                    <product>NWH_RetailExpress_Model_Catalog_Product</product>
                </rewrite>
            </catalog>
                <!-- salesrule>
                    <rewrite>
                        <quote_discount>NWH_RetailExpress_Model_Quote_Discount</quote_discount>
                    </rewrite>
                </salesrule -->
        </models>
        
    </global>
    <crontab>
        <jobs>
            <nwh_retailexpress_reindex>
                <schedule>
                    <cron_expr>*/30 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>nwh_retailexpress/cron::checkSpecialItems</model>
                </run>
            </nwh_retailexpress_reindex>
            <nwh_retailexpress_sync>
                <schedule>
                    <cron_expr>*/2 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>nwh_retailexpress/cron::sync</model>
                </run>
            </nwh_retailexpress_sync>
            <nwh_retailexpress_resetsync>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>nwh_retailexpress/cron::resetSync</model>
                </run>
            </nwh_retailexpress_resetsync>
        </jobs>
    </crontab>
    <adminhtml>
        <layout>
            <updates>
                <nwh_retailexpress>
                    <file>nwh_retailexpress.xml</file>
                </nwh_retailexpress>
            </updates>
        </layout>
        <events>
            <moogento_core_order_grid_collection_prepare>
                <observers>  
                    <nwh_retailexpress_model_orderview>
                        <type>singleton</type>  
                        <class>NWH_RetailExpress_Model_Observer</class>  
                        <method>setOrderView</method>            
                    </nwh_retailexpress_model_orderview>
                </observers>
            </moogento_core_order_grid_collection_prepare>
            <sales_order_invoice_register>
                <observers>  
                    <nwh_retailexpress_invoice_save_register>
                        <type>singleton</type>  
                        <class>NWH_RetailExpress_Model_Observer</class>  
                        <method>checkSpecialItems</method>            
                    </nwh_retailexpress_invoice_save_register>
                </observers>
            </sales_order_invoice_register>
          
        </events>
    </adminhtml>
</config>