<?xml version="1.0"?>
<config>
    <modules>
        <Moogento_RetailExpress>
            <version>0.6.0</version>
        </Moogento_RetailExpress>
    </modules>
    <global>
        <helpers>
            <moogento_retailexpress>
                <class>Moogento_RetailExpress_Helper</class>
            </moogento_retailexpress>
        </helpers>
        <models>
            <moogento_retailexpress>
                <class>Moogento_RetailExpress_Model</class>
                <resourceModel>moogento_retailexpress_resource</resourceModel>
            </moogento_retailexpress>
            <moogento_retailexpress_resource>
                <class>Moogento_RetailExpress_Model_Resource</class>
                <entities>
                    <paymentmethod>
                        <table>moogento_retailexpress_paymentmethod</table>
                    </paymentmethod>
                </entities>
            </moogento_retailexpress_resource>
        </models>
        <blocks>
            <moogento_retailexpress>
                <class>Moogento_RetailExpress_Block</class>
            </moogento_retailexpress>
        </blocks>
        <resources>
            <moogento_retailexpress_setup>
                <setup>
                    <module>Moogento_RetailExpress</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </moogento_retailexpress_setup>
        </resources>
    </global>
    <default>
        <moogento_retailexpress>
            <general>
                <enable>1</enable>
                <debug>1</debug>
                <mode>0</mode>
                <test_url><![CDATA[http://demo.retailexpress.com.au/dotnet/admin/webservices/webstore/ServiceV2.asmx?WSDL]]></test_url>
                <test_client_id>8E5B22C5-584C-44FF-BD50-49C169F4740C</test_client_id>
                <test_user>wsi</test_user>
                <test_passwd>wsipass</test_passwd>
                <channel_id>1</channel_id>
                <fail_limit>5</fail_limit>
                <show_fail_message>0</show_fail_message>
            </general>
            <customer>
                <same_data>0</same_data>
                <firstname>Cash Sale</firstname>
                <lastname>Cash Sale</lastname>
                <address>Cash Sale</address>
                <address2>Cash Sale</address2>
                <company>Cash Sale</company>
                <phone>123456789</phone>
                <postcode>12345</postcode>
                <state></state>
                <city></city>
                <country></country>
                <email></email>
            </customer>
            <product>
                <mode>0</mode>
                <retail_express_id>retail_express_id</retail_express_id>
            </product>
            <order>
                <statuses>processing</statuses>
            </order>
        </moogento_retailexpress>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Moogento_RetailExpress before="Mage_Adminhtml">Moogento_RetailExpress_Adminhtml</Moogento_RetailExpress>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <moogento_retailexpress_import_products>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_retailexpress/cron::importProducts</model>
                </run>
            </moogento_retailexpress_import_products>
            <moogento_retailexpress_export_orders>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_retailexpress/cron::exportOrders</model>
                </run>
            </moogento_retailexpress_export_orders>
        </jobs>
    </crontab>
    <adminhtml>
        <events>
            <moogento_core_order_grid_columns>
                <observers>
                    <moogento_retailexpress>
                        <model>moogento_retailexpress/observer</model>
                        <method>moogento_core_order_grid_columns</method>
                    </moogento_retailexpress>
                </observers>
            </moogento_core_order_grid_columns>
            <core_block_abstract_to_html_after>
                <observers>
                    <moogento_retailexpress>
                        <model>moogento_retailexpress/observer</model>
                        <method>core_block_abstract_to_html_after</method>
                    </moogento_retailexpress>
                </observers>
            </core_block_abstract_to_html_after>
            <controller_action_predispatch_adminhtml_sales_order_index>
                <observers>
                    <shipeasy_notification>
                        <model>moogento_retailexpress/observer</model>
                        <method>controller_action_predispatch_adminhtml_sales_order_index</method>
                    </shipeasy_notification>
                </observers>
            </controller_action_predispatch_adminhtml_sales_order_index>
        </events>
        <layout>
            <updates>
                <moogento_quickprint>
                    <file>moogento/retailexpress.xml</file>
                </moogento_quickprint>
            </updates>
        </layout>
    </adminhtml>
</config>