<?xml version="1.0"?>
<config>
    <modules>
        <Moogento_Core>
            <version>1.0.2</version>
        </Moogento_Core>
    </modules>
    <global>
        <models>
            <moogento_core>
                <class>Moogento_Core_Model</class>
                <resourceModel>moogento_core_resource</resourceModel>
            </moogento_core>
            <sales>
                <rewrite>
                    <order>Moogento_Core_Model_Sales_Order</order>
                </rewrite>
            </sales>
            <sales_mysql4>
                <rewrite>
                    <order_grid_collection>Moogento_Core_Model_Mysql4_Sales_Order_Grid_Collection</order_grid_collection>
                </rewrite>
            </sales_mysql4>
            <sales_resource>
                <rewrite>
                    <order_grid_collection>Moogento_Core_Model_Mysql4_Sales_Order_Grid_Collection</order_grid_collection>
                </rewrite>
            </sales_resource>
            <moogento_core_resource>
                <class>Moogento_Core_Model_Resource</class>
                <entities>
                    <country_template>
                        <table>moogento_core_country_template</table>
                    </country_template>
                </entities>
            </moogento_core_resource>
        </models>
        <helpers>
            <moogento_core>
                <class>Moogento_Core_Helper</class>
            </moogento_core>
        </helpers>
        <resources>
            <moogento_core_setup>
                <setup>
                    <module>Moogento_Core</module>
                </setup>
            </moogento_core_setup>
        </resources>
        <blocks>
            <moogento_core>
                <class>Moogento_Core_Block</class>
            </moogento_core>
            <adminhtml>
                <rewrite>
                    <sales_order>Moogento_Core_Block_Adminhtml_Sales_Order</sales_order>
                </rewrite>
            </adminhtml>
            <customer>
                <rewrite>
                    <address_renderer_default>Moogento_Core_Block_Adminhtml_Customer_Address_Renderer_Default</address_renderer_default>
                </rewrite>            
            </customer>
        </blocks>
        <template>
            <email>
                <moogento_statuses_settings_complete_email_template translate="label" module="moogento_core">
                    <label>Moogento Order Complete email</label>
                    <file>moogento/core/order_complete.html</file>
                    <type>html</type>
                </moogento_statuses_settings_complete_email_template>
                <moogento_statuses_settings_complete_email_guest_template translate="label" module="moogento_core">
                    <label>Moogento Order Complete email</label>
                    <file>moogento/core/order_complete_guest.html</file>
                    <type>html</type>
                </moogento_statuses_settings_complete_email_guest_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <moogento_core before="Mage_Adminhtml">Moogento_Core_Adminhtml</moogento_core>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <moogento_core>
                    <file>moogento/core.xml</file>
                </moogento_core>
            </updates>
        </layout>

        <events>
            <controller_action_predispatch>
                <observers>
                    <shipeasy_check_conflict>
                        <type>singleton</type>
                        <class>moogento_core/observer</class>
                        <method>checkConflict</method>
                    </shipeasy_check_conflict>
                </observers>
            </controller_action_predispatch>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <moogento_core>
                        <class>moogento_core/observer</class>
                        <method>controller_action_predispatch_adminhtml_system_config_save</method>
                    </moogento_core>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
            <controller_action_predispatch>
                <observers>
                    <moogento_check_cron>
                        <class>moogento_core/observer</class>
                        <method>adminhtml_controller_action_predispatch_start</method>
                    </moogento_check_cron>
                </observers>
            </controller_action_predispatch>
            <sales_order_save_commit_after>
                <observers>
                    <moogento_core>
                        <class>moogento_core/observer</class>
                        <method>sales_order_save_commit_after</method>
                    </moogento_core>
                </observers>
            </sales_order_save_commit_after>
        </events>
    </adminhtml>
    <default>
        <moogento>
            <general>
                <url>https://moogento.com/</url>
            </general>
        </moogento>
        <moogento_carriers>
            <general>
                <default_link><![CDATA[http://www.packagetrackr.com/track/#tracking#]]></default_link>
                <default_label>Custom</default_label>
            </general>
            <formats>
                <list><![CDATA[a:7:{i:0;a:3:{s:4:"code";s:2:"FX";s:5:"title";s:5:"FedEx";s:4:"link";s:41:"http://packagetrackr.com/track/#tracking#";}i:1;a:3:{s:4:"code";s:3:"DHL";s:5:"title";s:3:"DHL";s:4:"link";s:41:"http://packagetrackr.com/track/#tracking#";}i:2;a:3:{s:4:"code";s:3:"UPS";s:5:"title";s:3:"UPS";s:4:"link";s:41:"http://packagetrackr.com/track/#tracking#";}i:3;a:3:{s:4:"code";s:4:"USPS";s:5:"title";s:4:"USPS";s:4:"link";s:41:"http://packagetrackr.com/track/#tracking#";}i:4;a:3:{s:4:"code";s:2:"RE";s:5:"title";s:29:"Thailand Post Manual Tracking";s:4:"link";s:41:"http://packagetrackr.com/track/#tracking#";}i:5;a:3:{s:4:"code";s:2:"CP";s:5:"title";s:26:"Thailand Post Web Tracking";s:4:"link";s:41:"http://packagetrackr.com/track/#tracking#";}i:6;a:3:{s:4:"code";s:2:"EE";s:5:"title";s:3:"EMS";s:4:"link";s:41:"http://packagetrackr.com/track/#tracking#";}}]]></list>
            </formats>
        </moogento_carriers>
        <moogento_statuses>
            <settings>
                <status_processing>custom</status_processing>
                <return_items_to_stock>1</return_items_to_stock>
                <refund_offline>1</refund_offline>
                <complete_email_template>moogento_statuses_settings_complete_email_template</complete_email_template>
                <complete_email_guest_template>moogento_statuses_settings_complete_email_guest_template</complete_email_guest_template>
            </settings>
        </moogento_statuses>
    </default>
</config>