<?xml version="1.0"?>
<config>
  <modules>
    <NwhCategoryAttribute_NwhCategoryAttribute>
      <version>0.1.0</version>
    </NwhCategoryAttribute_NwhCategoryAttribute>
  </modules>
  <global>
    <helpers>
      <nwhcategoryattribute>
        <class>NwhCategoryAttribute_NwhCategoryAttribute_Helper</class>
      </nwhcategoryattribute>
    </helpers>
	<models>
	  <nwhcategoryattribute>
		<class>NwhCategoryAttribute_NwhCategoryAttribute_Model</class>
		<resourceModel>nwhcategoryattribute_mysql4</resourceModel>
	  </nwhcategoryattribute>
	</models>
	<resources>
	  <categoryattribute1406552984_setup>
		<setup>
		  <module>NwhCategoryAttribute_NwhCategoryAttribute</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1406552984_setup>
	  <categoryattribute1406552984_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1406552984_write>
	  <categoryattribute1406552984_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1406552984_read>
	</resources>
  </global>
</config> 