<?xml version="1.0"?>

<config>
    <modules>
        <Ayasoftware_SimpleProductPricing>
            <version>11.1.6</version>
        </Ayasoftware_SimpleProductPricing>
    </modules>
    <global>
        <helpers>
            <spp>
                <class>Ayasoftware_SimpleProductPricing_Helper</class>
            </spp>
            <tax>
                <rewrite>
                    <data>Ayasoftware_SimpleProductPricing_Helper_Tax_Data</data>
                </rewrite>
            </tax>
        </helpers>
        <models>
            <spp>
                <class>Ayasoftware_SimpleProductPricing_Catalog_Model</class>
            </spp>
            <catalog>
                <rewrite>
                    <product_type_configurable_price>Ayasoftware_SimpleProductPricing_Catalog_Model_Product_Type_Configurable_Price</product_type_configurable_price>
                </rewrite>
            </catalog>
        </models>
        <blocks>
            <catalog>
                <rewrite>
                    <product_view_type_configurable>Ayasoftware_SimpleProductPricing_Catalog_Block_Product_View_Type_Configurable</product_view_type_configurable>
                </rewrite>
                <rewrite>
                    <product_price>Ayasoftware_SimpleProductPricing_Catalog_Block_Product_Price</product_price>
                </rewrite>
                
                <rewrite>
                    <product_view_media>Ayasoftware_SimpleProductPricing_Catalog_Block_Product_View_Media</product_view_media>
                </rewrite>
            </catalog>
            <checkout>
                <rewrite>
                    <cart_item_renderer_configurable>Ayasoftware_SimpleProductPricing_Checkout_Block_Cart_Item_Renderer_Configurable</cart_item_renderer_configurable>
                </rewrite>
            </checkout>
        </blocks>
        <blocks>
            <spp>
                <class>Ayasoftware_SimpleProductPricing_Catalog_Block</class>
            </spp>
        </blocks>		
        <rewrite>
            <ayasoftware_simpleproductpricing_checkout_cart>
                <from><![CDATA[#^/checkout/cart/#]]></from>
                <to>/spp/checkout_cart/</to>
            </ayasoftware_simpleproductpricing_checkout_cart>
        </rewrite>	 
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <spp>
                                            <title>Ayasoftware Configuration Area</title>
                                        </spp>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <spp>
            <setting>
                <enableModule>1</enableModule>
                <hideprices>0</hideprices>
                <spp_cache_lifetime>0</spp_cache_lifetime>
            </setting>
            <details>
                <productname>1</productname>
                <shortdescription>1</shortdescription>
                <description>1</description>
                <productAttributes>1</productAttributes>
                <show>0</show>
                <showfromprice>1</showfromprice>
                <updateproductimage>0</updateproductimage>
                <disable_out_of_stock_option>1</disable_out_of_stock_option>
            </details>
            <markup>
                <product_name_markup>div.product-shop div.product-name h1</product_name_markup> 
                <product_shortdescription_markup>div.product-shop div.short-description div.std</product_shortdescription_markup> 
                <product_description_markup>div.box-description div.std</product_description_markup> 
                <product_image_markup>p.product-image img</product_image_markup> 
                <product_customstockdisplay_markup>div.product-shop p.availability</product_customstockdisplay_markup> 
                <product_attributes_markup>div.product-collateral div.box-additional</product_attributes_markup> 
            </markup>
            <media>
                <updateproductimage>0</updateproductimage>
                <zoomtype>1</zoomtype>
            </media>
        </spp>
    </default>
    <frontend>
        <layout>
            <updates>
                <spp>
                    <file>spp.xml</file>
                </spp>
            </updates>
        </layout>
        <routers>
            <spp>
                <use>standard</use>
                <args>
                    <module>Ayasoftware_SimpleProductPricing</module>
                    <frontName>spp</frontName>
                </args>
            </spp>
        </routers>
        <events>
            <checkout_cart_product_add_after>
                <observers>
                    <useSimpleProductPricing>
                        <type>singleton</type>
                        <class>spp/observer</class>
                        <method>useSimpleProductPricing</method>
                    </useSimpleProductPricing>
                </observers>
            </checkout_cart_product_add_after>
            <checkout_cart_update_items_after>
                <observers>
                    <updateSimpleProductPricing>
                        <type>singleton</type>
                        <class>spp/observer</class>
                        <method>updateSimpleProductPricing</method>
                    </updateSimpleProductPricing>
                </observers>  
            </checkout_cart_update_items_after>
        </events>
    </frontend>
</config>
