<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Moogento_ProfitEasy>
            <version>0.2.0</version>
        </Moogento_ProfitEasy>
    </modules>
    <global>
        <blocks>
            <moogento_profiteasy>
                <class>Moogento_ProfitEasy_Block</class>
            </moogento_profiteasy>
        </blocks>
        <helpers>
            <moogento_profiteasy>
                <class>Moogento_ProfitEasy_Helper</class>
            </moogento_profiteasy>
        </helpers>
        <models>
            <moogento_profiteasy>
                <class>Moogento_ProfitEasy_Model</class>
                <resourceModel>moogento_profiteasy_resource</resourceModel>
            </moogento_profiteasy>
            <moogento_profiteasy_resource>
                <class>Moogento_ProfitEasy_Model_Resource</class>
                <entities>
                    <costs>
                        <table>moogento_profiteasy_costs</table>
                    </costs>
                    <costs_order>
                        <table>moogento_profiteasy_costs_order</table>
                    </costs_order>
                </entities>
            </moogento_profiteasy_resource>
        </models>
        <resources>
            <moogento_profiteasy_setup>
                <setup>
                    <module>Moogento_ProfitEasy</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </moogento_profiteasy_setup>
        </resources>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <moogento_profiteasy>
                    <file>moogento/profiteasy.xml</file>
                </moogento_profiteasy>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <moogento_courierrules_order_update_grid>
                        <model>moogento_profiteasy/observer</model>
                        <method>controller_action_predispatch_adminhtml_system_config_save</method>
                    </moogento_courierrules_order_update_grid>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
            <moogento_core_order_grid_columns>
                <observers>
                    <moogento_courierrules_order_update_grid>
                        <model>moogento_profiteasy/observer</model>
                        <method>moogento_core_order_grid_columns</method>
                    </moogento_courierrules_order_update_grid>
                </observers>
            </moogento_core_order_grid_columns>
            <moogento_core_order_grid_collection_prepare>
                <observers>
                    <moogento_courierrules_order_update_grid>
                        <model>moogento_profiteasy/observer</model>
                        <method>moogento_core_order_grid_collection_prepare</method>
                    </moogento_courierrules_order_update_grid>
                </observers>
            </moogento_core_order_grid_collection_prepare>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <moogento_profiteasy_core_block_abstract_prepare_layout_after>
                        <class>moogento_profiteasy/observer</class>
                        <method>coreBlockAbstractPrepareLayoutAfter</method>
                    </moogento_profiteasy_core_block_abstract_prepare_layout_after>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <core_block_abstract_to_html_after>
                <observers>
                    <moogento_profiteasy_core_block_abstract_to_html_after>
                        <class>moogento_profiteasy/observer</class>
                        <method>core_block_abstract_to_html_after</method>
                    </moogento_profiteasy_core_block_abstract_to_html_after>
                </observers>
            </core_block_abstract_to_html_after>
            <admin_session_user_login_success>
                <observers>
                    <moogento_profiteasy_notification>
                        <type>singleton</type>
                        <class>moogento_profiteasy/feed_updates</class>
                        <method>check</method>
                    </moogento_profiteasy_notification>
                </observers>
            </admin_session_user_login_success>
            <moogento_shipeasy_import_csv>
                <observers>
                    <moogento_profiteasy_import_csv>
                        <class>moogento_profiteasy/observer</class>
                        <method>moogento_shipeasy_import_csv</method>
                    </moogento_profiteasy_import_csv>
                </observers>
            </moogento_shipeasy_import_csv>
            <moogento_core_order_grid_html_additional>
                <observers>
                    <moogento_profiteasy>
                        <class>moogento_profiteasy/observer</class>
                        <method>moogento_core_order_grid_html_additional</method>
                    </moogento_profiteasy>
                </observers>
            </moogento_core_order_grid_html_additional>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <moogento_profiteasy
                                after="Mage_Adminhtml">Moogento_ProfitEasy_Adminhtml</moogento_profiteasy>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <crontab>
        <jobs>
            <moogento_profiteasy_profit_updater>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_profiteasy/cron::updateProfit</model>
                </run>
            </moogento_profiteasy_profit_updater>
            <moogento_profiteasy_profit_updater_midnight>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_profiteasy/cron::updateProfitMidnight</model>
                </run>
            </moogento_profiteasy_profit_updater_midnight>
            <moogento_profiteasy_profit_updater_month>
                <schedule>
                    <cron_expr>0 1 1 * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_profiteasy/cron::updateProfitMonth</model>
                </run>
            </moogento_profiteasy_profit_updater_month>
        </jobs>
    </crontab>
    <default>
        <moogento_profiteasy>
            <dashboard>
                <show_panel>1</show_panel>
                <split_per_store>1</split_per_store>
                <split_per_store_list>1</split_per_store_list>
            </dashboard>
            <csv_import>
                <actual_shipping_field>actual_shipping_cost</actual_shipping_field>
                <additional_costs_field>additional_costs</additional_costs_field>
                <additional_costs_label_field>additional_costs_label</additional_costs_label_field>
                <additional_costs_calculation_field>additional_costs_calculation</additional_costs_calculation_field>
                <additional_costs_new_line_field>additional_costs_new_line</additional_costs_new_line_field>
                <additional_costs_override_field>additional_costs_override</additional_costs_override_field>
            </csv_import>
        </moogento_profiteasy>
    </default>
</config>