<config>
    <modules>
        <Moogento_CourierRules>
            <version>1.3.7</version>
        </Moogento_CourierRules>
    </modules>
    <global>
        <models>
            <moogento_courierrules>
                <class>Moogento_CourierRules_Model</class>
                <resourceModel>moogento_courierrules_resource</resourceModel>
            </moogento_courierrules>
            <moogento_courierrules_resource>
                <class>Moogento_CourierRules_Model_Resource</class>
                <entities>
                    <zone>
                        <table>courierrules_zone</table>
                    </zone>
                    <rule>
                        <table>courierrules_rule</table>
                    </rule>
                    <tracking>
                        <table>courierrules_tracking</table>
                    </tracking>
                    <cron_processing>
                        <table>courierrules_cron_processing</table>
                    </cron_processing>
                    <connector>
                        <table>courierrules_connector</table>
                    </connector>
                    <connector_log>
                        <table>courierrules_connector_log</table>
                    </connector_log>
                    <connector_manifest>
                        <table>courierrules_connector_manifest</table>
                    </connector_manifest>
                    <connector_suggestion>
                        <table>courierrules_connector_suggestion</table>
                    </connector_suggestion>
                </entities>
            </moogento_courierrules_resource>
        </models>
        <blocks>
            <moogento_courierrules>
                <class>Moogento_CourierRules_Block</class>
            </moogento_courierrules>
            <adminhtml>
                <rewrite>
                    <sales_shipment_grid>Moogento_CourierRules_Block_Adminhtml_Sales_Shipment_Grid</sales_shipment_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <moogento_courierrules>
                <class>Moogento_CourierRules_Helper</class>
            </moogento_courierrules>
        </helpers>
        <resources>
            <moogento_courierrules_setup>
                <setup>
                    <module>Moogento_CourierRules</module>
                </setup>
            </moogento_courierrules_setup>
        </resources>
        <events>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <moogento_courierrules>
                        <class>moogento_courierrules/observer</class>
                        <method>controller_action_predispatch_adminhtml_system_config_save</method>
                    </moogento_courierrules>
                    <moogento_connectors>
                        <class>moogento_courierrules/connector_gfs_observer</class>
                        <method>controller_action_predispatch_adminhtml_system_config_save</method>
                    </moogento_connectors>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
            <sales_order_shipment_resource_init_virtual_grid_columns>
                <observers>
                    <moogento_courierrules>
                        <class>moogento_courierrules/observer</class>
                        <method>sales_order_shipment_resource_init_virtual_grid_columns</method>
                    </moogento_courierrules>
                </observers>
            </sales_order_shipment_resource_init_virtual_grid_columns>
            <sales_order_shipment_save_after>
                <observers>
                    <moogento_courierrules>
                        <class>moogento_courierrules/observer</class>
                        <method>sales_order_shipment_save_after</method>
                    </moogento_courierrules>
                </observers>
            </sales_order_shipment_save_after>
            <moogento_core_order_grid_columns>
                <observers>
                    <moogento_courierrules_order_update_grid>
                        <model>moogento_courierrules/observer</model>
                        <method>moogento_core_order_grid_columns</method>
                    </moogento_courierrules_order_update_grid>
                </observers>
            </moogento_core_order_grid_columns>
            <moogento_core_order_grid_actions>
                <observers>
                    <moogento_courierrules_order_update_grid_actions>
                        <model>moogento_courierrules/observer</model>
                        <method>moogento_core_order_grid_actions</method>
                    </moogento_courierrules_order_update_grid_actions>
                </observers>
            </moogento_core_order_grid_actions>
            <moogento_shipeasy_system_config_grid_get_additional_fields>
                <observers>
                    <moogento_courierrules_order_update_grid>
                        <model>moogento_courierrules/observer</model>
                        <method>moogento_shipeasy_system_config_grid_get_additional_fields</method>
                    </moogento_courierrules_order_update_grid>
                </observers>
            </moogento_shipeasy_system_config_grid_get_additional_fields>
            <moogento_courierrules_config_connectors>
                <observers>
                    <moogento_courierrules_gfs>
                        <model>moogento_courierrules/connector_gfs_observer</model>
                        <method>moogento_courierrules_config_connectors</method>
                    </moogento_courierrules_gfs>
                </observers>
            </moogento_courierrules_config_connectors>
            <moogento_courierrules_config_courierrules_list>
                <observers>
                    <moogento_courierrules_gfs>
                        <model>moogento_courierrules/connector_gfs_observer</model>
                        <method>moogento_courierrules_config_courierrules_list</method>
                    </moogento_courierrules_gfs>
                </observers>
            </moogento_courierrules_config_courierrules_list>
            <moogento_core_order_get_shipping_method>
                <observers>
                    <moogento_courierrules>
                        <model>moogento_courierrules/observer</model>
                        <method>moogento_core_order_get_shipping_method</method>
                    </moogento_courierrules>
                </observers>
            </moogento_core_order_get_shipping_method>
            <moogento_core_order_get_shipping_description>
                <observers>
                    <moogento_courierrules>
                        <model>moogento_courierrules/observer</model>
                        <method>moogento_core_order_get_shipping_description</method>
                    </moogento_courierrules>
                </observers>
            </moogento_core_order_get_shipping_description>
        </events>
        <template>
            <email>
                <courierrules_email_warn_low translate="label" module="moogento_courierrules">
                    <label>Warn by low number of tracking numbers</label>
                    <file>moogento/courierrules/warn_low.html</file>
                    <type>html</type>
                </courierrules_email_warn_low>
                <courierrules_email_error_report translate="label" module="moogento_courierrules">
                    <label>Warn about errors in processing</label>
                    <file>moogento/courierrules/error_report.html</file>
                    <type>html</type>
                </courierrules_email_error_report>
                <courierrules_email_cron_empty translate="label" module="moogento_courierrules">
                    <label>Warn about no matching rules for order</label>
                    <file>moogento/courierrules/cron_empty.html</file>
                    <type>html</type>
                </courierrules_email_cron_empty>
            </email>
        </template>
        <courier_connectors>
            <gfs>
                <model>moogento_courierrules/connector_gfs_connector</model>
                <couriers>
                    <citylink>
                        <model>moogento_courierrules/connector_gfs_carrier_citylink</model>
                    </citylink>
                    <dhl>
                        <model>moogento_courierrules/connector_gfs_carrier_dhl</model>
                    </dhl>
                    <dhlexpress>
                        <model>moogento_courierrules/connector_gfs_carrier_dhlexpress</model>
                    </dhlexpress>
                    <dpd>
                        <model>moogento_courierrules/connector_gfs_carrier_dpd</model>
                    </dpd>
                    <fedex>
                        <model>moogento_courierrules/connector_gfs_carrier_fedex</model>
                    </fedex>
                    <fedexuk>
                        <model>moogento_courierrules/connector_gfs_carrier_fedexuk</model>
                    </fedexuk>
                    <hdnl>
                        <model>moogento_courierrules/connector_gfs_carrier_hdnl</model>
                    </hdnl>
                    <hermes>
                        <model>moogento_courierrules/connector_gfs_carrier_hermes</model>
                    </hermes>
                    <interlink>
                        <model>moogento_courierrules/connector_gfs_carrier_interlink</model>
                    </interlink>
                    <nightfreight>
                        <model>moogento_courierrules/connector_gfs_carrier_nightfreight</model>
                    </nightfreight>
                    <nightline>
                        <model>moogento_courierrules/connector_gfs_carrier_nightline</model>
                    </nightline>
                    <parcelforce>
                        <model>moogento_courierrules/connector_gfs_carrier_parcelforce</model>
                    </parcelforce>
                    <royalmail>
                        <model>moogento_courierrules/connector_gfs_carrier_royalmail</model>
                    </royalmail>
                    <tuffnells>
                        <model>moogento_courierrules/connector_gfs_carrier_tuffnells</model>
                    </tuffnells>
                    <ukmail>
                        <model>moogento_courierrules/connector_gfs_carrier_ukmail</model>
                    </ukmail>
                </couriers>
            </gfs>
        </courier_connectors>
    </global>
    <default>
        <moogento>
            <general>
                <url>https://moogento.com/</url>
            </general>
        </moogento>
        <courierrules_rules>
            <action_menu>
                <process_courier_rules>1</process_courier_rules>
                <set_cr_method>1</set_cr_method>
                <print_raw_connector_label>0</print_raw_connector_label>
            </action_menu>
        </courierrules_rules>
        <courierrules>
            <settings>
                <order_grid>1</order_grid>
                <order_grid_original>1</order_grid_original>
                <shipping_grid>1</shipping_grid>
                <shipping_grid_original>1</shipping_grid_original>
                <enable_cron>0</enable_cron>
                <cron_period>5</cron_period>
                <cron_limit>50</cron_limit>
                <use_product_attribute>0</use_product_attribute>
                <product_attribute></product_attribute>
                <create_missing_options>0</create_missing_options>
                <quantity_all_items>0</quantity_all_items>
                <quantity_free_discount_items>0</quantity_free_discount_items>
                <wipe_current_rules_when_importing>0</wipe_current_rules_when_importing>
                <shipping_cost_filter>0</shipping_cost_filter>
                <cron_log>0</cron_log>
                <cron_email>0</cron_email>
                <cron_email_to></cron_email_to>
                <exact_match>0</exact_match>
            </settings>
            <email>
                <warn_low>courierrules_email_warn_low</warn_low>
                <error_report>courierrules_email_error_report</error_report>
                <cron_empty>courierrules_email_cron_empty</cron_empty>
            </email>
            <tracking>
                <email_notification></email_notification>
            </tracking>
        </courierrules>
        <moogento_shipeasy>
            <grid>
                <courierrules_description_show>1</courierrules_description_show>
                <courierrules_description_order>3000</courierrules_description_order>
            </grid>
        </moogento_shipeasy>
        <carriers>
            <courierrules>
                <active>0</active>
                <model>moogento_courierrules/carrier</model>
            </courierrules>
        </carriers>
    </default>
    <crontab>
        <jobs>
            <moogento_courierrules>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_courierrules/observer::process</model>
                </run>
            </moogento_courierrules>
            <moogento_connectors_preprocess>
                <schedule>
                    <cron_expr>* * * * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_courierrules/connector_cron::process</model>
                </run>
            </moogento_connectors_preprocess>
            <moogento_connectors_commitShipments>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_courierrules/connector_cron::commitShipments</model>
                </run>
            </moogento_connectors_commitShipments>

            <moogento_courierrules_report_errors>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>moogento_courierrules/observer::report_errors</model>
                </run>
            </moogento_courierrules_report_errors>
        </jobs>
    </crontab>
    <adminhtml>
        <layout>
            <updates>
                <moogento_courierrules>
                    <file>moogento/courierrules.xml</file>
                </moogento_courierrules>
            </updates>
        </layout>
        <translate>
            <modules>
                <Moogento_CourierRules>
                    <files>
                        <default>Moogento_CourierRules.csv</default>
                    </files>
                </Moogento_CourierRules>
            </modules>
        </translate>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Moogento_CourierRules before="Mage_Adminhtml">Moogento_CourierRules_Adminhtml</Moogento_CourierRules>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
