<?xml version="1.0"?>
<config>
  <modules>
    <NWH_PromoCategory>
      <version>0.1.0</version>
    </NWH_PromoCategory>
  </modules>
  <global>
    <helpers>
      <promocategory>
        <class>NWH_PromoCategory_Helper</class>
      </promocategory>
    </helpers>
	<models>
	  <promocategory>
		<class>NWH_PromoCategory_Model</class>
		<resourceModel>promocategory_mysql4</resourceModel>
	  </promocategory>
	</models>
	<resources>
	  <categoryattribute1440469925_setup>
		<setup>
		  <module>NWH_PromoCategory</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1440469925_setup>
	  <categoryattribute1440469925_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1440469925_write>
	  <categoryattribute1440469925_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1440469925_read>
	</resources>
  </global>
</config> 